*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

header {
  margin: 20px;
  padding: 5px;
  text-align: center;
}

section {
  padding: 5px;
}

.text {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#blad {
  font-size: 14px;
  color: red;
}

#number {
  border: 3px solid black;
}

.wrapper {
  margin: 0 1060px;
}
